<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kellvyn Dias">
    <link rel="stylesheet" href="../css/global.css">
    <title>Caixa</title>
</head>
<body>
    <button class="btn_verde"> </button>
    <div class="container">
        <div class="lado1"></div>
        <div class="lado2"></div>
    </div>
</body>
</html>